body{
color: darkred;
background:blue 
font-family: "Irish Grover", system-ui;
margin: Оpx;
margin-bottom: 100px;
headerf
color: Dazure;
border-bottom: Зpx solid;
font-size: 32px;
padding: 15px;
h1f
font-size: 35px;
chamadaf
background: Ebrown;
margin-top: 8opx;
margin-bottom: 80px;
display: flex;
justify-content: center;
chama -textol
margin-right 5%;
